In [17]:
import requests
import pandas as pd

def read_html_table():
    url = "https://vi.wikipedia.org/wiki/J%C5%8Dy%C5%8D_kanji"
    # Gửi yêu cầu GET đến trang web
    response = requests.get(url)
    
    # Kiểm tra mã trạng thái của yêu cầu
    if response.status_code == 200:
        # Đọc nội dung HTML
        html_content = response.content
        
        # Sử dụng pandas để đọc bảng từ HTML
        tables = pd.read_html(html_content)
        df = tables[5]    
            # Trả về dataframe
        return df
    else:
        print("Yêu cầu không thành công. Mã trạng thái:", response.status_code)

# Gọi hàm và lưu kết quả vào dataframe
df = read_html_table()
df = df.drop(df.columns[0], axis=1)
# In dataframe
df

     Tân tự thể Cựu tự thể Bộ thủ  Số nét  Sắp xếp theo lớp  Năm thêm vào
0             亜          亞      二       7               NaN           NaN
1             哀        NaN      口       9               NaN           NaN
2             挨        NaN      手      10               NaN        2010.0
3             愛        NaN      心      13               4.0           NaN
4             曖        NaN      日      17               NaN        2010.0
...         ...        ...    ...     ...               ...           ...
2131          脇        NaN      肉      10               NaN        2010.0
2132          惑        NaN      心      12               NaN           NaN
2133          枠        NaN      木       8               NaN        1981.0
2134          湾          灣      水      12               NaN           NaN
2135          腕        NaN      肉      12               NaN           NaN

[2136 rows x 6 columns]

In [19]:
import pickle
with open("joyokanji.pkl", "wb") as f:
    pickle.dump(df, f)

In [26]:
def get_kanji_nstroke(min_nstroke, max_nstroke):
    with open("joyokanji.pkl", "rb") as f:
        df = pickle.load(f)
    return list(df[(df['Số nét'] >= min_nstroke) & (df['Số nét'] <= max_nstroke)]['Tân tự thể'])

In [27]:
get_kanji_nstroke(1,3)

['一',
 '乙',
 '下',
 '干',
 '丸',
 '九',
 '久',
 '及',
 '弓',
 '巾',
 '己',
 '口',
 '工',
 '乞',
 '才',
 '三',
 '山',
 '士',
 '子',
 '七',
 '十',
 '女',
 '小',
 '上',
 '丈',
 '人',
 '刃',
 '寸',
 '夕',
 '千',
 '川',
 '大',
 '丁',
 '土',
 '刀',
 '二',
 '入',
 '八',
 '亡',
 '凡',
 '又',
 '万',
 '与',
 '了',
 '力']

In [29]:
import random
def get_random_kanji_nstroke(min_nstroke, max_nstroke, num=1):
    kanji = get_kanji_nstroke(min_nstroke, max_nstroke)
    return random.sample(kanji, k=num)

In [30]:
get_random_kanji_nstroke(1,3)

['及']

In [32]:
get_random_kanji_nstroke(10,13,5)

['姫', '粉', '婆', '移', '靴']

In [36]:
get_random_kanji_nstroke(20,33,5)

['譲', '欄', '競', '襲', '躍']